{% extends 'base.html' %}

{% block title %}
Student Profile | MessVision
{% endblock %}

{% block content %}

<section class="profile-section">

    <div class="profile-card">

        <h2>👤 Student Profile</h2>

        <hr>

        <div class="profile-item">
            <strong>Name:</strong>
            <span>{{ student.name }}</span>
        </div>

        <div class="profile-item">
            <strong>Email:</strong>
            <span>{{ student.email }}</span>
        </div>

        <div class="profile-item">
            <strong>Room Number:</strong>
            <span>{{ student.room_number }}</span>
        </div>

    </div>

</section>

{% endblock %}